<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
</head>
    <style>
        
        .flex-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
        }
        .titles{
            text-align: center;
            text-transform: uppercase;
            color: #3f70c5;

        }
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3f70c5;
            color: white;
        }
        .description {
            width: 80%;
            margin-right: 20%;
            margin-left: 20%;
            font-family: Arial, Helvetica, sans-serif;
            color: #0b0c0e;
        }
        .description_title{
            margin-left: 20%;
            text-transform: uppercase;
            color: #3f70c5;
        }
    </style>
<body>
    <h1 class="titles">Report Quake Game Logs</h1>
    <h3 class="titles">Author: Gabrielle Stephanie Pires Mestrinho</h2>
    <div class="flex-container">
        <div>
            <h3 class="titles"> Graph 1. The Best Players </h3>
            <img src="assets/bar_chart.png"  width="700" height="700">
        </div>
        <div>

        </div>
        <div>
            <h3 class="titles"> Table 1. Metrics of Matches </h3>
            <table id="customers">
                <thead>
                    <tr>
                        
                        <th>Game</th>
                        
                        <th>Total Kills</th>
                        
                        <th>Numbers of Players</th>
                        
                        <th>Best Player</th>
                        
                        <th>Player Witch Most Deaths</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        
                        <td>Game 1</td>
                        
                        <td>0</td>
                        
                        <td>2</td>
                        
                        <td>0</td>
                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 2</td>
                        
                        <td>11</td>
                        
                        <td>5</td>
                        
                        <td>Isgalamido</td>
                        
                        <td>Mocinha</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 3</td>
                        
                        <td>4</td>
                        
                        <td>7</td>
                        
                        <td>Zeh</td>
                        
                        <td>Mocinha</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 4</td>
                        
                        <td>105</td>
                        
                        <td>5</td>
                        
                        <td>Isgalamido</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 5</td>
                        
                        <td>14</td>
                        
                        <td>6</td>
                        
                        <td>Assasinu Credi</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 6</td>
                        
                        <td>29</td>
                        
                        <td>14</td>
                        
                        <td>Maluquinho</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 7</td>
                        
                        <td>130</td>
                        
                        <td>8</td>
                        
                        <td>Chessus</td>
                        
                        <td>Dono da Bola</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 8</td>
                        
                        <td>89</td>
                        
                        <td>6</td>
                        
                        <td>Isgalamido</td>
                        
                        <td>Mal</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 9</td>
                        
                        <td>67</td>
                        
                        <td>12</td>
                        
                        <td>Isgalamido</td>
                        
                        <td>Assasinu Credi</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 10</td>
                        
                        <td>60</td>
                        
                        <td>14</td>
                        
                        <td>Dono da Bola</td>
                        
                        <td>Chessus</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 11</td>
                        
                        <td>20</td>
                        
                        <td>23</td>
                        
                        <td>Assasinu Credi</td>
                        
                        <td>Chessus</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 12</td>
                        
                        <td>160</td>
                        
                        <td>7</td>
                        
                        <td>Mal</td>
                        
                        <td>Isgalamido</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 13</td>
                        
                        <td>6</td>
                        
                        <td>7</td>
                        
                        <td>Isgalamido</td>
                        
                        <td>Assasinu Credi</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 14</td>
                        
                        <td>122</td>
                        
                        <td>7</td>
                        
                        <td>Mal</td>
                        
                        <td>Dono da Bola</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 15</td>
                        
                        <td>3</td>
                        
                        <td>10</td>
                        
                        <td>Zeh</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 16</td>
                        
                        <td>0</td>
                        
                        <td>10</td>
                        
                        <td>0</td>
                        
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 17</td>
                        
                        <td>13</td>
                        
                        <td>21</td>
                        
                        <td>Dono da Bola</td>
                        
                        <td>Oootsimo</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 18</td>
                        
                        <td>7</td>
                        
                        <td>18</td>
                        
                        <td>Dono da Bola</td>
                        
                        <td>Assasinu Credi</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 19</td>
                        
                        <td>95</td>
                        
                        <td>6</td>
                        
                        <td>Mal</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 20</td>
                        
                        <td>3</td>
                        
                        <td>6</td>
                        
                        <td>Zeh</td>
                        
                        <td>Zeh</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Game 21</td>
                        
                        <td>131</td>
                        
                        <td>6</td>
                        
                        <td>Zeh</td>
                        
                        <td>Assasinu Credi</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-container">
        <div>
            <h3 class="titles"> Table 2. Ranking The Best Players </h3>
            <table id="customers">
                <thead>
                    <tr>
                        <th colspan="2">Top 5 best players</th>
                    </tr>
                    <tr>
                        
                        <th>Players</th>
                        
                        <th>Number of Kills all Matchs</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        
                        <td>Maluquinho</td>
                        
                        <td>-1</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Mocinha</td>
                        
                        <td>2</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>UnnamedPlayer</td>
                        
                        <td>2</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Chessus</td>
                        
                        <td>50</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Mal</td>
                        
                        <td>62</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="titles"> Table 3. The Score Of The Kill Players More Killed</h3>
            <table id="customers">
                <thead>
                    <tr>
                        <th colspan="2">Top 5</th>
                    </tr>
                    <tr>
                        
                        <th>Players</th>
                        
                        <th>Number of Matchs</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        
                        <td>Isgalamido</td>
                        
                        <td>43</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Dono da Bola</td>
                        
                        <td>36</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Zeh</td>
                        
                        <td>31</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Assasinu Credi</td>
                        
                        <td>28</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>Oootsimo</td>
                        
                        <td>23</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="titles"> Table Deaths. Deaths Matches</h3>
            <table id="customers">
                <thead>
                    <tr>
                        <th colspan="21"> Deaths of Means </th>
                    </tr>
                    <tr>
                        
                        <th>Game 1</th>
                        
                        <th>Game 2</th>
                        
                        <th>Game 3</th>
                        
                        <th>Game 4</th>
                        
                        <th>Game 5</th>
                        
                        <th>Game 6</th>
                        
                        <th>Game 7</th>
                        
                        <th>Game 8</th>
                        
                        <th>Game 9</th>
                        
                        <th>Game 10</th>
                        
                        <th>Game 11</th>
                        
                        <th>Game 12</th>
                        
                        <th>Game 13</th>
                        
                        <th>Game 14</th>
                        
                        <th>Game 15</th>
                        
                        <th>Game 16</th>
                        
                        <th>Game 17</th>
                        
                        <th>Game 18</th>
                        
                        <th>Game 19</th>
                        
                        <th>Game 20</th>
                        
                        <th>Game 21</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        
                        <td>{}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 6, 'MOD_ROCKET_SPLASH\n': 3, 'MOD_FALLING\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 2, 'MOD_FALLING\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_FALLING\n': 11, 'MOD_ROCKET\n': 20, 'MOD_RAILGUN\n': 8, 'MOD_TRIGGER_HURT\n': 8, 'MOD_ROCKET_SPLASH\n': 51, 'MOD_MACHINEGUN\n': 4, 'MOD_SHOTGUN\n': 2}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET_SPLASH\n': 4, 'MOD_TRIGGER_HURT\n': 5, 'MOD_RAILGUN\n': 1, 'MOD_ROCKET\n': 3}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_RAILGUN\n': 2, 'MOD_ROCKET\n': 4, 'MOD_SHOTGUN\n': 4, 'MOD_ROCKET_SPLASH\n': 13, 'MOD_TRIGGER_HURT\n': 3, 'MOD_FALLING\n': 1, 'MOD_MACHINEGUN\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 20, 'MOD_ROCKET_SPLASH\n': 49, 'MOD_ROCKET\n': 29, 'MOD_SHOTGUN\n': 7, 'MOD_RAILGUN\n': 9, 'MOD_FALLING\n': 6, 'MOD_MACHINEGUN\n': 9}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET\n': 18, 'MOD_ROCKET_SPLASH\n': 39, 'MOD_FALLING\n': 6, 'MOD_RAILGUN\n': 12, 'MOD_TRIGGER_HURT\n': 8, 'MOD_MACHINEGUN\n': 4, 'MOD_SHOTGUN\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET_SPLASH\n': 25, 'MOD_SHOTGUN\n': 1, 'MOD_ROCKET\n': 17, 'MOD_MACHINEGUN\n': 3, 'MOD_FALLING\n': 3, 'MOD_TRIGGER_HURT\n': 7, 'MOD_RAILGUN\n': 10}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TELEFRAG\n': 24, 'MOD_TRIGGER_HURT\n': 17, 'MOD_ROCKET\n': 4, 'MOD_ROCKET_SPLASH\n': 1, 'MOD_RAILGUN\n': 7, 'MOD_BFG_SPLASH\n': 2, 'MOD_BFG\n': 2, 'MOD_MACHINEGUN\n': 1, 'MOD_CRUSH\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 6, 'MOD_CRUSH\n': 1, 'MOD_ROCKET_SPLASH\n': 4, 'MOD_BFG_SPLASH\n': 3, 'MOD_MACHINEGUN\n': 1, 'MOD_RAILGUN\n': 4}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_RAILGUN\n': 38, 'MOD_TRIGGER_HURT\n': 36, 'MOD_ROCKET_SPLASH\n': 35, 'MOD_BFG_SPLASH\n': 8, 'MOD_ROCKET\n': 25, 'MOD_MACHINEGUN\n': 7, 'MOD_BFG\n': 8, 'MOD_FALLING\n': 2}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET\n': 1, 'MOD_TRIGGER_HURT\n': 1, 'MOD_ROCKET_SPLASH\n': 1, 'MOD_BFG_SPLASH\n': 1, 'MOD_BFG\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_RAILGUN\n': 19, 'MOD_TRIGGER_HURT\n': 31, 'MOD_ROCKET\n': 23, 'MOD_ROCKET_SPLASH\n': 24, 'MOD_MACHINEGUN\n': 4, 'MOD_BFG_SPLASH\n': 10, 'MOD_FALLING\n': 5, 'MOD_BFG\n': 5}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 2}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 6, 'MOD_FALLING\n': 2, 'MOD_RAILGUN\n': 2, 'MOD_ROCKET_SPLASH\n': 2}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET_SPLASH\n': 3, 'MOD_ROCKET\n': 1, 'MOD_FALLING\n': 1, 'MOD_TRIGGER_HURT\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET\n': 27, 'MOD_ROCKET_SPLASH\n': 32, 'MOD_SHOTGUN\n': 6, 'MOD_TRIGGER_HURT\n': 11, 'MOD_RAILGUN\n': 10, 'MOD_MACHINEGUN\n': 7, 'MOD_FALLING\n': 1}}</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_ROCKET_SPLASH\n': 1, 'MOD_ROCKET\n': 1}}</td>
                        
                        <td>nan</td>
                        
                    </tr>
                    
                    <tr>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>nan</td>
                        
                        <td>{'kills_by_means': {'MOD_TRIGGER_HURT\n': 14, 'MOD_ROCKET\n': 36, 'MOD_RAILGUN\n': 9, 'MOD_ROCKET_SPLASH\n': 60, 'MOD_MACHINEGUN\n': 4, 'MOD_SHOTGUN\n': 4, 'MOD_FALLING\n': 3}}</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div >
        <h1 class="description_title"> Descriptions</h1>
        
        <div class="description">
        <p> Table 1: </p>
        <p> 1. Game: This column lists the names or identifiers of the games. </p>
        <p> 2. Total Kills: This column shows the total number of kills that occurred in each game.</p>
        <p> 3. Numbers of Players: This column indicates the number of players who participated in each game.</p>
        <p> 4. Best Player: This column identifies the player who had the best performance in terms of kills in each game.</p>
        <p> 5. Player With Most Deaths: This column shows the player who had the most deaths in each game. </p>
        <p> Table 2: </p>
        <p> The best player was defined by surviving a match, that is,
            dying less during all matches.
            You can view the metrics via graph and table. </p>
        <p> Table 3: </p>
        <p> The player who killed the most was defined by the player who killed the most in all matches.
            You can view the metrics via table. </p>
        </div>
    </div>
    
    
    
</body>
</html>